
/* Body */
body{

    background-color: #fcfcfc;
    margin-top: 110px;
    z-index: -1000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


/*helpers*/
.auto-widht{

    width: 100%;
}

.second-nav{
    margin-top: 51px;
}
